<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 部署服務程式庫專案時，必須將組態檔案內容新增到主機的
  app.config 檔案。System.Configuration 不支援程式庫的組態檔。-->
  <system.serviceModel>
    <services>
      <service name="Nsun.Workflow.Common.Service1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8777/WorkflowService/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- 除非位址是完整位址，否則位址是相對於上面提供的基底位址-->
        <endpoint address="" binding="basicHttpBinding" contract="Nsun.Workflow.Common.IService1">
          <!-- 
              部署時，應該移除或取代下列身分識別項目，以反映用以執行已部署
              之服務的身分識別。若移除身分識別項目，WCF 將會自動推斷適當
              的身分識別。
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- 服務會使用中繼資料交換端點向用戶端描述自己。-->
        <!-- 這個端點未使用安全繫結，部署之前應該先讓它成為安全端點，或將它移除-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 為避免洩漏中繼資料資訊，
          請在部署之前將下列值設定為 false -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- 為接收錯誤中的例外狀況詳細資料以用於偵錯用途，請將下面的值
          設定為 true。請在部署之前將該值設定為 false，
          以避免例外狀況資訊洩漏-->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>